    body{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        background-color: #ebf2f2;
        text-align: center;
        font-family: Verdana, sans-serif;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .h_home{
        color: #175b54;
    }
    .div_home{
        background-color: #c7edea;
        width: 40%;
        padding: 40px;
        border-radius: 30px;
        margin:106px auto;
        flex: 1;
    }
    .line, .line2{
        background-color: #1D766F;
        text-align: center;
        color:white;
        font-size:60px;
        padding: 100px;
    }
    .line2{
        padding: 101px;
        margin-bottom: 0;
    }
    a{
        color:#175b54;
        text-decoration: none;
        font-size:20px;
    }
    a:hover{
        color: #17087a;
        text-decoration: underline;
    }