   body{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: Verdana, sans-serif;
            background-color: #ebf2f2;
          }
          .topnav {
              background-color: #1D766F;
              overflow: hidden;
          }
          .topnav a {
              float: left;
              color: #ebf2f2;
              text-align: center;
              padding: 20px 30px;
              text-decoration: none;
              font-size: 17px;

          }
          .topnav .catalog-link{
              border-right: 2px solid #ebf2f2;
          }
          .topnav a:hover {
              background-color: #ebf2f2;
              color: #1D766F;
          }
          .exit{
              float:right;
          }
          .topnav .logo{
              float: right;
              color: #ebf2f2;
              text-align: center;
              padding: 18px 32px;
              text-decoration: none;
              font-size: 20px;
              font-weight: bold;
          }

          .orders-category li{
              display: inline;
              margin: 10px;
          }
          .orders-category{
              list-style-type: none;
              padding: 5px;
          }
          .orders-category a{
              text-decoration: none;
              color:black;
              font-family: Verdana, sans-serif;
              font-size:18px;
          }
          .orders-category a:hover{
              color: #34a958;
          }


          .table_orders {
              margin: 0 auto;
              border-spacing: 0 15px;
              font-family: 'Open Sans', sans-serif;
              border-collapse: separate;
              text-indent: initial;
          }
          .table_orders td{
              vertical-align: middle;
              padding: 20px;
              font-size: 14px;
              text-align: center;
              border-top: 1px solid #1D766F;
              border-bottom: 1px solid #1D766F;
              border-right: 1px solid #1D766F;
              background: white;
            }

          .btn-process, .btn-deny, .btn-cancel{
              border-radius: 10px;
              border-color:#82b7c2;
              background-color: #82b7c2;
              color:white;
              padding: 5px;
              font-size: 15px;
          }
          .btn-process:hover, .btn-deny:hover, .btn-cancel:hover {
              background-color: #472af6;
          }
          .btn-process:active, .btn-deny:active, .btn-cancel:active {
              position:relative;
              top:1px;
           }

          .order-content{
              margin: 0 auto;
              border-spacing: 0;
              font-family: 'Open Sans', sans-serif;
              border-collapse: separate;
              text-indent: initial;
              table-layout: fixed;
              width: 310px;
          }
          .order-content td{
              vertical-align: middle;
              padding: 11px;
              font-size: 13px;
              text-align: center;
              border: 1px solid #1D766F;
              background: white;
            }
          .order-content td:not(:last-child){
              border-right: none;
          }
          .table_orders a{
              color:#1D766F;
              font-size: 20px;
              font-weight: bold;
              text-decoration: none;
          }
          .table_orders a:hover{
              color: #5039ec;
          }

          .table_orders_det{
              margin-left: 30px;
              border-spacing: 0 15px;
              font-family: 'Open Sans', sans-serif;
              border-collapse: separate;
              text-indent: initial;
          }
          .table_orders_det th{
              vertical-align: middle;
              padding: 11px;
              font-size: 15px;
              text-align: center;
              border: 1px solid #1D766F;
              background: white;
           }

          .table_orders_det td{
              vertical-align: middle;
              padding: 20px;
              font-size: 14px;
              text-align: center;
              border-top: 1px solid #1D766F;
              border-bottom: 1px solid #1D766F;
              border-right: 1px solid #1D766F;
              background: white;
           }
           #h1-order-det{
               margin: 30px;
           }
