<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ERROR</title>
</head>
<body>
<style>
    body{
         background-color: #ebf2f2;
         box-sizing: border-box;
         margin: 0;
        height: 100vh;
    }
    .notfound{
        width: 600px;
        margin: 300px auto;
        font-family: Verdana, sans-serif;

    }
    .notfound h1{
        font-size: 140px;
    }
    .notfound a{
        font-size: 20px;
        color:darkred;
    }
    .notfound h2{
        color: #262525;
    }
    .notfound span{
        font-size: 14px;
    }
</style>

<body>
<div id="notfound">
    <div class="notfound">
        <h1>oops!</h1>
        <h2>Error: Something went wrong!<br><br> <span>Return to the main page or call the hotline: +554432</span></h2>
        <a href="/web/customer">main page</a>
    </div>
</div>


</body>
</body>
</html>